<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST REPORTS</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <h1>LISTA DE ROLES</h1>
    <table>
        <thead>
            <tr>Nombre</tr>
            <tr>Descripcion</tr>
        </thead>
        <tbody>
            <tr th:each="rol: ${roles}">
                <td th:text="${rol.nombre}"></td>
                <td th:text="${rol.descripcion}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>